<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/logo.svg">
    <th:insert th:insert="fragments/bootstrap.html :: bootstrap"></th:insert>
    <title>Página Principal</title>
</head>

<body>

    <section class="flex flex-wrap p-4 justify-center">

        <th:block th:each="produto : ${produtoPage}">
            <th:block th:each="imagem, iterStat : ${produto.imagens}">
                <img th:if="${imagem.principal}" th:src="${'/img/produtos/' + imagem.nomeArquivo}"
                    class="card-img-top card-img-custom" alt="..." layout="fill">
            </th:block>
            <div>
                <h5 th:text="${produto.name}"></h5>
                <p th:text="${'R$ ' + produto.price}"></p>
                <p th:text="${'Avaliação: ' + produto.rating}"></p>
            </div>
        </th:block>
    </section>

</body>

</html>