<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de Cadastro</title>
  <!-- Incluindo Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: rgb(241, 240, 233);">

  <div class="container">
    <h2>Cadastro cliente</h2>

    <form action="#" th:action="@{/cadastro}" th:object="${clientDTO}" method="post">

      <div class="info-pessoal shadow-sm bg-light p-5 mb-3">

        <h4 class="mb-3">Informações pessoais</h4>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Nome completo" th:field="*{fullName}">
          <span th:errors="*{fullName}" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="CPF" th:field="*{cpf}">
          <span th:errors="*{cpf}" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <input type="date" class="form-control" placeholder="Data nascimento" th:field="*{birthDate}">
          <span th:errors="*{birthDate}" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <select class="form-select" th:field="*{gender}">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
          </select>
          <span th:errors="*{gender}" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" th:field="*{email}">
          <span th:errors="*{email}" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Senha" th:field="*{password}">
          <span th:errors="*{password}" class="text-danger"></span>
        </div>

      </div>

      <!-- ENDEREÇO DE FATURAMENTO -->
      <div class="container-faturamento shadow-sm bg-light p-5 mb-3">
        <h4>Endereço de faturamento: </h4>
        <fieldset id="faturamento">
          <div class="mb-3">
            <input type="text" class="form-control" maxlength="9" placeholder="CEP" id="cepFaturamento"
              th:field="*{billingAddress.zipCode}">
            <span th:errors="*{billingAddress.zipCode}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Logradouro" id="logradouroFaturamento"
              th:field="*{billingAddress.street}">
            <span th:errors="*{billingAddress.street}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Número" id="numeroFaturamento"
              th:field="*{billingAddress.number}">
            <span th:errors="*{billingAddress.number}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Complemento" id="complementoFaturamento"
              th:field="*{billingAddress.complement}">
            <span th:errors="*{billingAddress.complement}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Bairro" id="bairroFaturamento"
              th:field="*{billingAddress.neighborhood}">
            <span th:errors="*{billingAddress.neighborhood}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Cidade" id="cidadeFaturamento"
              th:field="*{billingAddress.city}">
            <span th:errors="*{billingAddress.city}" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="UF" id="ufFaturamento"
              th:field="*{billingAddress.state}">
            <span th:errors="*{billingAddress.state}" class="text-danger"></span>
          </div>
        </fieldset>
      </div>

      <!-- ENDEREÇO(S) DE ENTREGA -->
      <div class="container-entrega shadow-sm bg-light p-5">
        <h4>Endereços de entrega</h4>
        <div id="inputEnderecosEntrega">

        </div>
        <div>
          <button class="btn btn-primary mb-3" type="button" id="btnNovoEndereco">Adicionar outro endereço</button>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Criar conta</button>
    </form>
  </div>

  <script>
    document.getElementById('btnNovoEndereco').onclick = function () {
      let qtdFieldset = document.querySelectorAll('#inputEnderecosEntrega > fieldset').length;
      const enderecoCounter = qtdFieldset; // Obter o próximo número de endereço
      document.getElementById('inputEnderecosEntrega').insertAdjacentHTML('beforeend',
        `
        <fieldset class="border p-5 my-3 rounded" id="endereco-entrega${enderecoCounter}">
            <legend>Endereço ${enderecoCounter + 1}:</legend>
            <div class="mb-3">
                <input type="text" class="form-control" maxlength="9" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].zipCode}" id="cep${enderecoCounter}" placeholder="CEP">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].zipCode}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].street}" id="logradouro${enderecoCounter}" placeholder="Logradouro">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].street}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].number}" id="numero${enderecoCounter}" placeholder="Número">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].number}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].complement}" id="complemento${enderecoCounter}" placeholder="Complemento">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].neighborhood}" id="bairro${enderecoCounter}" placeholder="Bairro">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].neighborhood}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].city}" id="cidade${enderecoCounter}" placeholder="Cidade">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].city}" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" th:field="*{clientDTO.deliveryAddresses[endrecoCounter].state}" id="uf${enderecoCounter}" placeholder="UF">
                <span th:errors="*{clientDTO.deliveryAddresses[endrecoCounter].state}" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-info" onclick="copiarEnderecoFaturamento(this.closest('fieldset'))">Copiar endereço de faturamento</button>
        </fieldset>
`
      );

      // Adicionar event listener para o novo campo de CEP
      const novoCepInput = document.getElementById(`cep${enderecoCounter}`);
      novoCepInput.addEventListener('input', function () {
        const cepValue = this.value.trim();
        if (cepValue.length === 9) {
          // Realiza a solicitação HTTP para a API do ViaCEP
          fetch(`https://viacep.com.br/ws/${cepValue}/json/`)
            .then(response => response.json())
            .then(data => {
              // Verifica se os dados são válidos
              if (data && data.logradouro && data.bairro && data.localidade && data.uf) {
                // Preenche os campos de endereço com os dados retornados
                document.getElementById(`logradouro${enderecoCounter}`).value = data.logradouro;
                document.getElementById(`bairro${enderecoCounter}`).value = data.bairro;
                document.getElementById(`cidade${enderecoCounter}`).value = data.localidade;
                document.getElementById(`uf${enderecoCounter}`).value = data.uf;
              } else {
                document.getElementById(`logradouro${enderecoCounter}`).value = '';
                document.getElementById(`bairro${enderecoCounter}`).value = '';
                document.getElementById(`cidade${enderecoCounter}`).value = '';
                document.getElementById(`uf${enderecoCounter}`).value = '';
                alert("CEP inválido")
                document.getElementById(`cep${enderecoCounter}`).value = '';
              }
            })
            .catch(error => console.error('Erro ao buscar os dados do CEP:', error));
        }
      });

    };


    const cepFaturamentoInput = document.getElementById('cepFaturamento');
    cepFaturamentoInput.addEventListener('input', function () {
      const cepValue = this.value.trim();
      if (cepValue.length === 9) {
        preencherEndereco(cepValue, 'Faturamento');
      }
    });

    function preencherEndereco(cep, tipo) {
      fetch(`https://viacep.com.br/ws/${cep}/json/`)
        .then(response => response.json())
        .then(data => {
          

          if (!(data && data.logradouro && data.bairro && data.localidade && data.uf)) {
            alert("CPF inválido")
            document.getElementById(`cep${tipo}`).value = '';

          } 

          document.getElementById(`logradouro${tipo}`).value = data.logradouro || '';
          document.getElementById(`bairro${tipo}`).value = data.bairro || '';
          document.getElementById(`cidade${tipo}`).value = data.localidade || '';
          document.getElementById(`uf${tipo}`).value = data.uf || '';
        })
        .catch(error => console.error('Erro ao buscar os dados do CEP:', error));
    }


    window.onload = function () {

      let qtdFieldset = document.querySelectorAll('#inputEnderecosEntrega > fieldset').length;
      if (qtdFieldset == 0) {
        document.getElementById('btnNovoEndereco').click();
      }

    };

    function copiarEnderecoFaturamento(fieldset) {

      var cepFaturamento = document.getElementById('cepFaturamento').value;
      var logradouroFaturamento = document.getElementById('logradouroFaturamento').value;
      var numeroFaturamento = document.getElementById('numeroFaturamento').value;
      var complementoFaturamento = document.getElementById('complementoFaturamento').value;
      var bairroFaturamento = document.getElementById('bairroFaturamento').value;
      var cidadeFaturamento = document.getElementById('cidadeFaturamento').value;
      var ufFaturamento = document.getElementById('ufFaturamento').value;

      // Seleciona os campos do endereço de entrega dentro do fieldset
      var inputsEnderecoEntrega = fieldset.querySelectorAll('input');

      // Define os valores dos campos de endereço de entrega para os valores do endereço de faturamento
      inputsEnderecoEntrega[0].value = cepFaturamento;
      inputsEnderecoEntrega[1].value = logradouroFaturamento;
      inputsEnderecoEntrega[2].value = numeroFaturamento;
      inputsEnderecoEntrega[3].value = complementoFaturamento;
      inputsEnderecoEntrega[4].value = bairroFaturamento;
      inputsEnderecoEntrega[5].value = cidadeFaturamento;
      inputsEnderecoEntrega[6].value = ufFaturamento;
    }

  </script>

</body>

</html>