<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <script>
        function validatePassword() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                alert("As senhas não coincidem.");
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <h2>Cadastro de Usuário</h2>

    <form th:action="@{/backoffice/cadastrar-usuario}" th:method="post" th:object="${usuario}"
        onsubmit="return validatePassword()" enctype="application/x-www-form-urlencoded">
        <!-- Nome completo -->
        <label for="nome">Nome completo:</label>
        <input type="text" th:field="*{fullname}" required>
        <br>

        <!-- CPF -->
        <label for="cpf">CPF:</label>
        <input type="text" th:field="*{cpf}" required>
        <br>

        <!-- Email referencia username banco de dados-->
        <label for="cpf">Email:</label>
        <input type="text" th:field="*{username}" required>
        <br>

        <!-- Senha -->
        <label for="password">Senha:</label>
        <input type="password" th:field="*{password}" required>
        <br>

        <!-- Confirmar senha -->
        <label for="confirmPassword">Confirmar senha:</label>
        <input type="password" id="confirmPassword" required>
        <br>

        <select th:field="*{role}" required>
            <option value="ADMIN">Admin</option>
            <option value="USER">Estoquista</option>
        </select>

        <input type="submit" value="Registrar">
    </form>
</body>

</html>