<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h2>Cadastro de Usuário</h2>
    
    <form th:action="@{/registrar}" th:method="post" th:object="${usuario}">
        <!-- Nome do Usuário -->
        <label for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" required>
        <br>

        <!-- CPF -->
        <label for="cpf">CPF:</label>
        <input type="text" th:field="*{cpf}" required>
        <br>

        <input type="submit" value="Registrar">
    </form>
</body>
</html>
