<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Harmony - backoffice</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.svg">
</head>

<body>

    <header>
        <a href="/backoffice/home" class="logo"></a>
        <h2>Harmony</h2>
        <div class="header-right">
            <a href="http://localhost:8080/logout">Logout</a>
        </div>
    </header>


    <div class="container">
        <nav>
            <div class="profile">
                <p th:text="'Usuário: ' + ${usuario.fullname}"></p>
                <p th:text="'Grupo: ' + ${usuario.role}"></p>
            </div>
            

            <a href="/backoffice/home" class="nav-link active">
                <p>Home</p>
            </a>

            <a th:if="${usuario.role == 'Administrador'}" href="/backoffice/listar-usuarios" class="nav-link">
                <p>Listar Usuários</p>
            </a>

            <a href="/backoffice/listar-produtos" class="nav-link">
                <p>Listar Produtos</p>
            </a>
        </nav>

        <main>
            <img class="banner" src="/img/home.png" alt="Banner Image">
        </main>
    </div>


</body>

</html>