<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuários</title>
</head>
<body>
    <header>
        <h1>Listagem de Usuários</h1>
    </header>
    <main>
        <!-- Tabela para listar os usuários -->
        <button class="btn" onclick="location.href='/backoffice/cadastrar-usuario'">Cadastrar Usuário</button>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Grupo</th>
                    <th>Editar</th>
                    <th>Gerenciar</th>
                </tr>
            </thead>
            <tbody th:each="usuario : ${usuarios}">
                <!-- Adicione linhas para cada usuário -->
                <tr>
                    <td th:text="${usuario.fullname}"></td>
                    <td th:text="${usuario.username}"></td>
                    <!-- Adicione lógica para verificar o status e o grupo do usuário -->
                    <td th:text="${usuario.isActive ? 'Ativo' : 'Inativo'}"></td>
                    <td th:text="${usuario.role}"></td>
                    <td>
                        <!-- Adicione links para editar, habilitar/desabilitar -->
                        <a th:href="@{/backoffice/editar-usuario/{id}(id=${usuario.id})}">Editar</a> |

                    </td>
                    <td>
                        <!-- Lógica para exibir a opção correta com base no status do usuário -->
                        <span th:if="${usuario.isActive}">
                            <a th:href="@{'/backoffice/desabilitar-usuario/' + ${usuario.id}}">Desabilitar</a>
                        </span>
                        <span th:unless="${usuario.isActive}">
                            <a th:href="@{'/backoffice/habilitar-usuario/' + ${usuario.id}}">Habilitar</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
