.formulario-usuario{
    display: flex;
    justify-content: center;
}

form {
    margin: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px; 
}

h3 {
    text-align: center;
    color: #333333;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

span {
    color: #e74c3c;
    font-size: 14px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
}
