*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #ffffff;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px rgba(215, 215, 215, 0.333);
    margin-bottom: 20px;
}


.logo {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("/img/logo.svg");
    background-size: cover;
}

h2 {
    margin: 0;
    color: black;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: #000000;
    text-decoration: none;
    margin-left: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        margin-top: 15px;
    }

    .header-right a {
        margin: 0;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 85vh;
}

.container nav {
    background-color: aqua;
    flex: 1;
    box-shadow: 3px 1px rgba(215, 215, 215, 0.333);
    margin-right: 20px;
}

.container main {
    background-color: #ffffff;
    flex: 5;
}

.container nav {
    background-color: #303030;
    box-shadow: 2px 4px rgba(215, 215, 215, 0.333);
    padding: 20px;
}

nav {
    background-color: #e08d8d;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

nav .profile{
    margin-bottom: 20px;
}

.profile p{
    margin-bottom: 10px;
}


.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nav-link:hover {
    background-color: #b7bcdad4;
    color: black;
}

.active {
    background-color: #ffffff;
    color: black;
}


/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        margin-top: 15px;
    }

    .header-right a {
        margin: 0;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .container nav {
        margin-right: 0;
        margin-bottom: 20px;
    }
}